html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    margin-left: 10em;
    margin-right: 10em;    
}

body > header {
    background-color: #046DD5;
    padding: 1em;
}

body > header h1 {
    margin: 0em;
    font-size: 1.5em;
}

body > header h2 {
    margin: 0em;
    font-size: 0.8em;
}

body > header a {
    color: white;
    text-decoration: none;
}

#signup {
    font-size: 0.8em;
}

#signup a[href="register.html"] {
    padding-right: 1em;
    border-right-style: solid;
    border-right-width: thin;
}

#signup a[href="login.html"] {
    padding-left: 1em;
}

#hamburger {
    display: none;
}

#menu {
    text-align: center;
}

#menu ul {
    padding:0em;
    margin:0em;
}

#menu li {
    list-style-type: none;
    padding: 1em 0em 1em;
    border-top-style: solid;
    display: block;
    border-width: 0.4em;
}

#menu li a {
    color:black;
    text-decoration: none;
}

#menu ul li:first-child {
    border-color: #E1493E;
}


#menu ul li:nth-child(2) {
    border-color: #8ABA56;
}

#menu ul li:nth-child(3) {
    border-color: #5B4282;
}

#menu ul li:nth-child(4) {
    border-color: #FF8932;
}

#menu ul li:nth-child(5) {
    border-color: #19B6E9;
}

#menu ul li:nth-child(6) {
    border-color: #E84C8B;
}

#related {
    padding: 1em;
    background-color: #2A2F33;
    color: white;
}

#related article h1 a {
    text-decoration: none;
    color: white;
}

#related article p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
}

#news article {
    position: relative;
}

#news article h1 a{
    color: white;
    text-decoration: none;
    position: absolute;
    top: 1.3em;
    left: 1.3em;
    text-shadow: 7px 7px 3px #000000;
    font-size: 1.2em;
    width: 13em;
}

#news img {
    width: 100%;
}

#news p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    padding-left: 0.5em;
    font-weight: 500
}

#news article p:first-of-type:first-letter {
    font-size: 2em;
}

#news footer::before {
    content: "By"
}

#news footer .comments::after {
    content: " comments";
    text-decoration: underline;
}

#news footer {
    background-color: #F4655F;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0.8em;
    font-size: 0.8em;
}

#news footer a {
    color:white;
    text-decoration: underline;
} 

body footer {
    background-color: #2A2F33;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2em;
    padding: 0.5em;
    margin-top: 0.8em;
}