main{
    background-image: url("../images/site/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    margin: 0%;
    display:grid;
}

.floater{
    background-color: white;
    max-width: 15%;
    border-radius: 5px;
    margin-left: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

h3{
    margin:0;
}

input{
    border:1px solid rgb(230,230,230);
    border-radius: 5px;
}

label{
    display: inline-block;
}

input[type=date]{
    display: inline-block;
}

input[type=submit]{
    background-color: #5fd96e;
    transition-duration: 300ms;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    margin-top: 0.5rem;
    align-content: center;
}

input[type=submit]:hover{
    background-color: #3b8a45;
}

/*
input[type=range]{

}
*/